@charset "utf-8";

@font-face {
    font-family: 'KimjungchulGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 400;
    list-style: none;
    color: #333;
}

#wrap {
    min-width: 1320px;
    margin: 0 auto;
}

#header_wrap {
    overflow: hidden;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    background: url(../images/icon/lineheader.png) no-repeat center bottom;
    padding-bottom: 30px;

}

.inner_header {
    width: 1320px;
    height: 91px;
    margin: 0 auto;
    position: relative;
}

.logo {
    text-align: center;
    /* margin-left: 9px; */
    padding-top: 20px;
}

.gnb {
    position: absolute;
    right: 0;
    top: 50px;

}

.gnb li {
    float: left;
    padding: 30px;
    font-weight: bold;
}

/* slide */
#slide {
    height: 900px;
    overflow: hidden;
}

.swiper {
    width: 100%;
    height: 100%;
    text-align: center;
}

.banner {

    margin: 0px auto;
    position: absolute;
    left: 36px;
    top: 200px;
}

#content {
    background: url(../images/icon/wave.png)no-repeat top center;
    background-color: #2173FF;
    height: 1163px;


}

#inner_content {

    background-color: #2173FF;
    height: 1163px;
}

.wave p {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    padding-top: 50px;
}


.inner_content {

    margin: 0px auto;
    width: 1320px;
}

.wave {
    text-align: center;
}

.brand_icon {

    color: #fff;
    font-size: 23px;

}

.brand_icon li {
    float: left;
    width: 33.3%;
    font-family: 'LotteMartDream';
    font-weight: 400;



}

.brand_icon p {
    text-align: center;
    padding-top: 91px;
}

.cool {
    padding-top: 250px;
    text-align: center;
}

.cool p {
    padding-right: 20spx;
    padding-top: 50px;
}

.bright {
    padding-top: 215px;
    text-align: center;
}

.bright p {
    padding-top: 45px;

}

.simple {
    padding-top: 250px;
    text-align: center;
}

.simple p {
    padding-left: 20px;
    padding-top: 20px;
}

.brand_text p {
    text-align: center;
    padding-top: 850px;
    font-size: 23px;
    color: #fff;
    font-weight: bold;
}

#whale {
    background: url(../images/main/whales.png)no-repeat center top;
    height: 1138px;
}

.whale_text {
    text-align: center;
    font-size: 37px;
    font-weight: bold;
    padding-top: 361px;
    color: #fff;
}

.whale_small p {
    padding-top: 80px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-family: 'LotteMartDream';
    font-weight: 400;

}

.BI {
    font-weight: bold;
}


#bi {
    margin: 0px auto;
    background-color: #2173FF;
    height: 1338px;
    font-size: 15px;
    color: #fff;

}

.inner_bi {
    padding-top: 184px;
    background: url(../images/icon/fishgroup.png)no-repeat center bottom 280px;
    background-size: 65%;


}

.BI {
    font-size: 92px;
    color: #fff;
    font-family: 'LotteMartDream';
    font-weight: 400;
    text-align: center;
    padding-right: 1100px;
    padding-bottom: 92px;

}

.box2 {
    width: 1212px;
    margin: 0px auto;
    padding-bottom: 187px;
}

.bi_text {
    float: right;
    width: 727px;
    padding-left: 15px;
    box-sizing: border-box;


}

.text_bi {
    font-weight: bold;
}

.text_bi p {
    font-size: 15px;
}

.bi_img {
    float: left;
    width: 445px;

}

h1 {
    font-size: 22px;
    padding-bottom: 40px;
    font-family: 'LotteMartDream';
    font-weight: 400;
}

.download {
    padding-top: 44px;
}

.box3 {
    width: 856px;
    margin: 0px auto;
    padding-top: 187px;

}

.box3_inner {

    padding-top: 173px;
    height: 295px;

}

.leftright {
    float: left;
    width: 300px;
    box-sizing: border-box;
    padding-bottom: 174px;
}

.leftright h1 {
    font-weight: bold;
}

.updown {
    float: right;
    width: 303px;
    box-sizing: border-box;
}

.updown h1 {
    font-weight: bold;
}

h1 {
    font-size: 22px;

}

#footer_wrap {
    background-color: #000;

}

.footer {
    margin: 0px auto;
    width: 1100px;
    position: relative;
    color: #fff;
    padding: 20px;
    background: url(../images/logo/logo.png)no-repeat right 10px top 26px;
    background-size: 17%;

}

.footer_gnd li {
    margin-bottom: 10px;
    left: 30px;
    font-size: 16px;
    font-weight: bold;
    float: left;
    padding: 15px 30px 56px 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;

}

.footer_logo_two {
    position: absolute;
    right: 1px;
    top: 150px;


}

.footer_logo_two li {
    float: left;
    padding: 6px;
}

.footer_add {
    clear: both;
    font-size: 14px;

}

.you {
    margin-top: 4px;
}